# Address to listen on, for example "[::1]:3080" or "127.0.0.1:3080"
listen: "[::1]:3080"
# One of "mysql", "postgresql" or "sqlite3"
dbType: mysql
# See: http://jinzhu.me/gorm/database.html#connecting-to-a-database
dbURI:
# true/false
useHttps: false
# Used when useHttps is true. Stores the TLS files in specified directory. https://echo.labstack.com/cookbook/auto-tls
# autoCertCacheDirectory: